{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="content-wrapper" style="min-height: 1136px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Patient Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Vamsi Krishna</a></li>
        <li class="active">Profile</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{ patient_data.picture }}">
              <h3 class="profile-username text-center">{{ patient_data.get_full_name }}</h3>
              <p class="text-muted text-center">{{ patient_data.id }}</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <i class="fa fa-mobile"></i> <b>Mobile</b> <a class="pull-right">{{ patient_data.mobile }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-transgender"></i> <b>Gender</b> <a class="pull-right">{{ patient_data.gender }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-birthday-cake"></i> <b>DOB</b> <a class="pull-right">{{ patient_data.dob }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-user"></i> <b>Age</b> <a class="pull-right">{{ patient_data.dob }}</a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- BMI -->
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Body Mass Index</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body box-profile">
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <i class="fa fa-user-circle"></i> <b>Weight</b> <a class="pull-right">{{ patient_data.weight }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-arrows-v"></i> <b>Height</b> <a class="pull-right">{{ patient_data.height }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-heartbeat"></i> <b>BMI</b> <a class="pull-right">000</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-remove"></i> <b>Allergies</b>
                  <p>
                    <span class="label label-danger">Fever</span>
                    <span class="label label-success">Headache</span>
                    <span class="label label-info">Cold</span>
                    <span class="label label-warning">Bodyache</span>
                    <span class="label label-primary">Pain</span>
                  </p>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
                    <!-- BMI -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Address</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-building-o margin-r-5"></i> Door No</strong>
              <p class="text-muted">
                {{ patient_data.door }}
              </p>
              <hr>
              <strong><i class="fa fa-street-view margin-r-5"></i> Street Name</strong>
              <p class="text-muted">{{ patient_data.street }}</p>
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> City</strong>
              <p class="text-muted">{{ patient_data.city }}</p>
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> State</strong>
              <p>{{ patient_data.state }}</p>
              <hr>
              <strong><i class="fa fa-map-pin margin-r-5"></i> Pincode</strong>
              <p>{{ patient_data.pincode }}</p>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="{{ active }}"><a href="#timeline" data-toggle="tab" aria-expanded="true">Timeline</a></li>
              <li class="{{ passive }}"><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
            </ul>
            <div class="tab-content">
              <!-- /.tab-pane -->
              <div class="tab-pane {{ active }}" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                      <h3 class="timeline-header"><a href="#">Consultation </a> </h3>
                      <div class="timeline-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="table-responsive">
                                <table class="table no-margin">
                                  <tbody>
                                  <tr>
                                    <td><i class="fa fa-user-md" style="color: #00a65a"> </i> <strong style="color: #00a65a"> Doctor </strong></td>
                                    <td>|</td>
                                    <td>Kishore</td>
                                  </tr>
                                  <tr>
                                    <td><i class="fa fa-edit" style="color: #00a65a"> </i> <strong style="color: #00a65a"> Reason </strong></td>
                                    <td>|</td>
                                    <td>General</td>
                                  </tr>
                                  <tr>
                                    <td><i class="fa fa-calendar" style="color: #00a65a"> </i> <strong style="color: #00a65a"> Follow up </strong></td>
                                    <td>|</td>
                                    <td>2021-03-19 <br> in 7 days</td>
                                  </tr>
                                  <tr>
                                    <td><i class="fa fa-info-circle" style="color: #00a65a"> </i> <strong style="color: #00a65a">Status </strong></td>
                                    <td>|</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="table-responsive">
                                <table class="table no-margin">
                                  <tbody>
                                  <tr>
                                    <td>Bijin</td>
                                    <td>2020-01-01 11:53 PM</td>
                                    <td>Abhyanganam Swedanam</td>
                                    <td><i class="fa fa-check-circle"></i></td>
                                  </tr>
                                  <tr>
                                    <td>Bijin</td>
                                    <td>2020-01-02 11:53 PM</td>
                                    <td>Abhyanganam Swedanam</td>
                                    <td><i class="fa fa-check-circle"></i></td>
                                  </tr>
                                  <tr>
                                    <td>Bijin</td>
                                    <td>2020-01-03 11:53 PM</td>
                                    <td>Abhyanganam Swedanam</td>
                                    <td><i class="fa fa-check-circle"></i></td>
                                  </tr>
                                  <tr>
                                    <td>Bijin</td>
                                    <td>2020-01-04 11:53 PM</td>
                                    <td>Abhyanganam Swedanam</td>
                                    <td><i class="fa fa-check-circle"></i></td>
                                  </tr>
                                  <tr>
                                    <td>Bijin</td>
                                    <td>2020-01-05 11:53 PM</td>
                                    <td>Abhyanganam Swedanam</td>
                                    <td><i class="fa fa-check-circle"></i></td>
                                  </tr>
                                  <tr>
                                    <td>Bijin</td>
                                    <td>2020-01-06 11:53 PM</td>
                                    <td>Abhyanganam Swedanam</td>
                                    <td><i class="fa fa-check-circle"></i></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                              <hr>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <p> <i class="fa fa-file"></i> Patien_prescription_file.pdf</p                               </div>
                                <div class="form-group col-md-4">
                                  <p> <i class="fa fa-file"></i> Patien_prescription_file.pdf</p                               </div>
                                <div class="form-group col-md-4">
                                  <p> <i class="fa fa-file"></i> Patien_prescription_file.pdf</p                               </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                              <hr>
                            </div>
                          </div>
                          <div class="container row">
                            <div class="col-md-9">
                              <p> <i class="fa fa-sticky-note"></i> show some notes here if any else hide this</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Edit</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {{ passive }}" id="settings">
                <style>
                  .invalid-feedback{
                    color: red
                  }
                </style>
                <form method="post">
                  {% csrf_token %}
                  {{ form| crispy }}
                  <input type="submit" value="submit" />
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
<script>
  $(document).ready(function() {
    $('#id_follow_up').datepicker({
        endDate: moment().subtract(180, 'days').format('YYYY-MM-DD'),
        format: 'yyyy-mm-dd',
        autoclose: true
      });
  })
</script>
{% endblock content %}