{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load referral_extras %}
    <div class="content-wrapper" style="min-height: 1136px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Patient Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Vamsi Krishna</a></li>
        <li class="active">Profile</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                  <iframe src="" id="iframe"></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{ patient_data.picture }}">
              <h3 class="profile-username text-center">{{ patient_data.get_full_name }}</h3>
              <p class="text-muted text-center">{{ patient_data.id }}</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <i class="fa fa-mobile"></i> <b>Mobile</b> <a class="pull-right">{{ patient_data.mobile }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-transgender"></i> <b>Gender</b> <a class="pull-right">{{ patient_data.gender }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-birthday-cake"></i> <b>DOB</b> <a class="pull-right">{{ patient_data.dob }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-user"></i> <b>Age</b> <a class="pull-right">{{ patient_data.dob }}</a>
                </li>
                 <li class="list-group-item">
                  <i class="fa fa-hospital-o"></i> <b>Branch</b> <a class="pull-right">{{ patient_data.branch.name }}</a>
                </li>
              </ul>
              <a class="btn btn-primary btn-block" href="{% url 'gui:patient-update' identifier=patient_data.identifier %}"><b>Edit Profile</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- BMI -->
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Body Mass Index</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body box-profile">
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <i class="fa fa-user-circle"></i> <b>Weight</b> <a class="pull-right">{{ patient_data.weight }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-arrows-v"></i> <b>Height</b> <a class="pull-right">{{ patient_data.height }}</a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-heartbeat"></i> <b>BMI</b> <a class="pull-right">{{ patient_data | bmi | lookup:'bmi' | floatformat:2 }}
                   <span class="label label-{{ patient_data | bmi | lookup:'color' }}">{{ patient_data | bmi | lookup:'bmistatus' }} </span></a>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-remove"></i> <b>Allergies</b>
                  <p>
                    {% for i in patient_data.allergies.all %}
                    <span class="label label-{{ "a" | random_allergies_label }}">{{ i }}</span>
                    {% endfor %}
                  </p>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
                    <!-- BMI -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Address</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-building-o margin-r-5"></i> Door No</strong>
              <p class="text-muted">
                {{ patient_data.door }}
              </p>
              <hr>
              <strong><i class="fa fa-street-view margin-r-5"></i> Street Name</strong>
              <p class="text-muted">{{ patient_data.street }}</p>
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> City</strong>
              <p class="text-muted">{{ patient_data.city }}</p>
              <hr>
              <strong><i class="fa fa-map-marker margin-r-5"></i> State</strong>
              <p>{{ patient_data.state }}</p>
              <hr>
              <strong><i class="fa fa-map-pin margin-r-5"></i> Pincode</strong>
              <p>{{ patient_data.pincode }}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Others</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-street-view margin-r-5"></i> Referral</strong>
              <p class="text-muted">{{ patient_data.referral }}, {{ patient_data.referral.mobile }}</p>
              <hr>
              <strong><i class="fa fa-building-o margin-r-5"></i> Notes</strong>
              <p class="text-muted">
                {{ patient_data.notes }}
              </p>
              <hr>
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="{{ active }}"><a href="#timeline" data-toggle="tab" aria-expanded="true">Timeline</a></li>
              <li class="{{ passive }}"><a href="#settings" data-toggle="tab" aria-expanded="false">Add Timeline</a></li>
            </ul>
            <div class="tab-content">
              <!-- /.tab-pane -->
              <div class="tab-pane {{ active }}" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  {% for i in patient_data.patient_timeline.all %}
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          {{ i.createdDate | date:'d F Y'}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{ i.createdDate | date:'g:i A' }}</span>
                      <h3 class="timeline-header"><a href="#">{{ i.visit }} </a> </h3>
                      <div class="timeline-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-9">
                              <div class="form-row">
                                <div class="form-group col-md-3">
                                  <p>
                                    <i class="fa fa-hospital-o" style="color: Tomato"></i>
                                    <strong style="color: Tomato">Branch </strong><br>
                                    {{ i.branch.name }}
                                  </p>
                                </div>
                                <div class="form-group col-md-3">
                                  <p>
                                    <i class="fa fa-user-md" style="color: #3c8dbc"></i>
                                    <strong style="color: #3c8dbc">Patient Reason </strong><br>
                                    {{ i.reason }}
                                  </p>
                                </div>
                                <div class="form-group col-md-3">
                                  <p>
                                    <i class="fa fa-medkit" style="color: Purple"></i>
                                    <strong style="color: Purple">Follow Up </strong><br>
                                    {{ i.follow_up }}
                                  </p>
                                </div>
                                <div class="form-group col-md-3">
                                  <p>
                                    <i class="fa fa-medkit" style="color: #D81B60"></i>
                                    <strong style="color: #D81B60">Follow Up Status</strong><br>
                                    {% if i.follow_up_status is True %} Completed {% else %} Pending {% endif %}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                              <hr>
                            </div>
                          </div>
                          {% if i.patient_schedule_timeline.count != 0 %}
                          <div class="row">
                            <div class="col-md-3">
                              <i class="fa fa-plus" aria-hidden="true" style="color: MediumSeaGreen"></i>
                              <strong style="color: MediumSeaGreen">Treatment</strong>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-9">
                              <div class="table-responsive">
                                <table class="table no-margin">
                                  <tbody>
                                  {% for j in i.patient_schedule_timeline.all %}
                                  <tr>
                                    <td><i class="fa fa-user" style="color: MediumSeaGreen"></i>
                                      {% for k in j.staff.all %}
                                        {{ k.user.get_full_name | default:k.user.username }}
                                        {% if not forloop.last %}, {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td><i class="fa fa-calendar" style="color: MediumSeaGreen"></i> {{j.datetime | date:'F d, Y, g:i A' }}</td>
                                    <td><i class="fa fa-plus-square" style="color: MediumSeaGreen"></i> {{ j.treatment.type }}</td>
                                    {% if j.status == True %}
                                    <td><i class="fa fa-check-circle" style="color: MediumSeaGreen"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-times" style="color: #ce5642"></i></td>
                                    {% endif %}
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-9">
                              <span class="time" style="color: #999; font-size: 12px; margin-left: 9px">
                                <i class="fa fa-list-ol" aria-hidden="true"></i> Total {{ i.patient_schedule_timeline.count }}
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                              <hr>
                            </div>
                          </div>
                          {% endif %}
                          {% if i.patient_files_timeline.count != 0 %}
                          <div class="row">
                            <div class="col-md-9">
                              <div class="form-row">
                                {% for l in i.patient_files_timeline.all %}
                                <div class="form-group col-md-3">
                                  <p>
                                    <i class="fa {{ l.file_type | file_label | lookup:'icon' }}" style="color: {{ l.file_type | file_label | lookup:'color' }}"></i>
                                    <strong style="color: {{ l.file_type | file_label | lookup:'color' }}"> {{ l.file_type }}</strong>
                                    <br> {{ l.file }}
                                  </p>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                              <hr>
                            </div>
                          </div>
                          {% endif %}
                          <div class="form-row">
                            <div class="col-md-6">
                              <p> <i class="fa fa-sticky-note" style="color: SlateBlue"></i> <strong style="color: SlateBlue">Notes</strong><br>
                                {{ i.notes | safe | default:'None' }}
                              </p>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-9" style="text-align: right">
                              <span title="createdBy" class="time" style="color: #999; font-size: 13px">
                                <i class="fa fa-user" aria-hidden="true"></i> {{ i.createdBy.get_full_name }}
                              </span>
                              <span title="createdDate" class="time" style="color: #999; font-size: 13px">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{ i.createdDate | date:'F d, Y g:i A' }}
                              </span><br>
                              <span title="modifiedBy" class="time" style="color: #999; font-size: 13px">
                                <i class="fa fa-user" aria-hidden="true"></i> {{ i.modifiedBy.get_full_name | default:"None"}}
                              </span>
                              <span title="modifiedDate" class="time" style="color: #999; font-size: 13px">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{ i.modifiedDate | date:'F d, Y g:i A' }}
                              </span><br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-footer">
                        <a href="{% url 'admin:gui_patienttimelinemodel_change' i.id %}" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Edit Timeline</a>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane {{ passive }}" id="settings">
                <style>
                  .invalid-feedback{
                    color: red
                  }
                </style>
                <form method="post" autocomplete="off">
                  {% csrf_token %}
                  {{ form| crispy }}
                  <input type="submit" value="submit" />
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
<script>
  $(document).ready(function() {
    $('#id_follow_up').datepicker({
        startDate: new Date(),
        format: 'yyyy-mm-dd',
        autoclose: true
      });
    $('#myModal').on('hidden.bs.modal', function () {
      window.location.reload();
    });
  })
</script>
<style>
    .modal-dialog {
      width: 70%;
      height: 600px !important;
    }
    .modal-body {
        height: 500px;
    }
  </style>
{% endblock content %}